/*STYLING FOR ABOUT US HTML PAGE*/

#title-div {
    padding: 20pt;
    text-align: center;
}


#aboutus-div {
    display:flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 50%;
}

#crowd-div {
    display:flex;
    justify-content: center;
    align-items: center;
}
