@font-face {
    font-family: NavFont;
    src: url("../font/manrope.ttf");
  }

/* i {
    float: right;
} */

/* #exit-icon {
    position: relative;
    left: 15pt;
    margin: auto;
} */

#incorporate-post-main {
    margin-top: 10pt;
    margin-bottom: 10pt;
}

footer {
    height:45pt;
}

.form-check {
    text-align: center;
    background-color:#89A6FB;
    border-radius: 25px;
}

.form-check-label{
    position: relative;
    color: white;
}

.form-check-input {
    position: relative;
    left:10pt;
}

#info-section {
    Font-Family: NavFont;
    position: relative;
    /* left: 20pt; */
    padding: 20pt;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 5pt;
    border-radius: 0px;
    background-color: white;
    margin-bottom: 10pt;
}


#inputPostTitle::placeholder {
    color: #9b9b9b;
}

#inputPostLink::placeholder {
    color: #9b9b9b;
}

#summaryFormControlTextarea1::placeholder {
    color: #9b9b9b;
}

#confirmation-div {
    display: flex;
    margin-top: 10pt;
    margin-bottom: 10pt;
    justify-content: flex-end;
    column-gap: 0.5em;
}

#exit-icon {
    padding: 1.25em;
}

#exit-icon:hover {
    cursor: pointer;
}

body {
    background-color: white;
}

h2 {
    font-family: NavFont;
    color: #4a4d4f;
    text-align: center;
}

label {
    color: #4a4d4f;
    margin-bottom: 2pt;
}