@font-face {
    font-family: NavFont;
    src: url("../font/static/manrope-bold.ttf");
}

#image-popup {
    margin-top: 2pt;
    margin-bottom: 5pt;
    border-style: solid;
    border-color: rgb(64, 64, 64);
    width:100pt;
}

.mapboxgl-popup-close-button {
    font-size: 15pt;
}

#anchor-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapboxgl-popup-content strong {
    font-size: 110%;
}

.mapboxgl-popup-content a {
    font-family: NavFont;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 3pt;
    border-radius: 5px;
    margin-bottom: 1pt;
    transition-duration: 0.2s;
}

.mapboxgl-popup-content a:hover {
    background-color:cornflowerblue;
    color: white;
}

.mapboxgl-popup-content div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-banner {
    display: flex;
    position: relative;
}

.close-page-banner-button {
    float: right;
    display: flex;
    gap: 0.25em;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
}

.close-page-banner-button:hover {
    cursor: pointer;
}

/* .close-page-banner-button p:hover {
    cursor: pointer;
  }
  
  .close-page-banner-button #close-icon:hover {
    cursor: pointer;
  } */

.page-banner-closed-property {
    display: none;
}

/* SIDE PANEL FOR POSTS IN main.html*/
/* CSS code adapted from: https://codepen.io/dcode-software/pen/OJxEWWz*/

.main-wrapper {
    display: flex;
    height: 100%;
}

.main {
    flex-grow: 1;
}

.side-panel-toggle {
    /* width: 2.5em;
    height: 2.5em; */
    flex-shrink: 0;

    /* Center the news icon and text */
    display: grid;
    grid-template-rows: 2.25em 2.25em;
    place-items: center;

    color: white;
    background: rgb(65, 65, 65);
    border: none;
    outline: none;
    cursor: pointer;
}

.side-panel-toggle:hover {
    background: black;
}

.side-panel {
    /* Default display of the side-panel class element set to none */
    display: none;

    padding-top: 0.5em;
    overflow-y: auto;
    width: 800px;

    color: white;
    background-color: rgb(65, 65, 65);
    /*color: white;
    background-color: rgb(241, 241, 241); */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open-property .side-panel {
    /* When the side-panel-open-property class is added ("activated"),
     Restore display property of the .side-panel class - "opens" the side panel */
    display: initial;
}

.side-panel h4 {
    text-align: center;
}

.main-wrapper {
    background-color: grey;
}

.nav-link {
    transition-duration: 0.1s;
}

.nav-link:hover {
    color: white
}

#close-icon {
    font-size: 30pt;
    /* background-color: #287eb4; */
}

@media screen and (max-width: 700px) {
    .main-wrapper {
        display: inline;
    }

    .side-panel-toggle {
        width: 100%;
        height: 10%;
    }

    .side-panel {
        position: absolute;
        /* or position: absolute; */
        /* Position the sidebar at the bottom */

        width: 100%;
        height: 100%;


        /* width: 100%;
        height: 90%; */
    }

    .side-panel-open-property .side-panel {
        display: block; /* Show the sidebar when the class is present */
      }

}