.main {
    display: grid;
    padding: auto;
    margin: 10pt;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "profile post post";
    grid-gap: 0.5rem;
}

#profile {
    grid-area: profile;
}

#user-posts-go-here {
    grid-area: post;
}

#info-image-div {
    height: fit-content;
}

@media screen and (max-width: 700px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "profile"
            "posts";
    }

    #profile-main {grid-area: profile;}
    #user-posts-go-here {grid-area: posts;}

    #user-posts-go-here .card {
        width: 100%;
    }

    #main-row {
        width: 100%;
    }

}