.main {
    display: grid;
    padding: auto;
    margin: 10pt;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr;
    grid-template-areas: "profile title title"
                         "profile post post";
    grid-gap: 0.5rem;
}

#profile {
    grid-area: profile;
}

#post-list-header {
    grid-area: title;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#post-list-header h2 {
    display: inline;
    margin: 0;
    padding: 0;
}

#user-posts-go-here {
    grid-area: post;
}

#info-image-div {
    height: fit-content;
}

#name-goes-here {
    font-size: 20pt;
  }

@media screen and (max-width: 700px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "profile"
            "posts";
    }

    #profile-main {grid-area: profile;}
    #user-posts-go-here {grid-area: posts;}

    #user-posts-go-here .card {
        width: 100%;
    }

    #main-row {
        width: 100%;
    }

}