@font-face {
  font-family: NavFont;
  src: url("../font/static/manrope-bold.ttf");
}

nav {
  font-family: NavFont, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/*
.filter-button {
  position: relative;
  right: 12pt;
  height: 10pt;
}
*/
/*
.filter {
  text-decoration: none;
  color: black;
}
*/

#search-form {
  margin-top: 10pt;
  /* margin: 0; */
  padding: 0;
  width: 350pt;
  height: 30pt;
}

#search-button {
  border-radius: 10px 0px 0px 10px;
  border-color: lightgrey;
  border-right: 0;
  background-color: white;
  box-shadow: none;
}

#search-button:hover {
  background-color: lightgray;
}

#search-text {
  border-radius: 0px 0px 0px 0px;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  background-color: white;
  border-color: lightgray;
  color: black;
}

#search-text::placeholder {
  color: gray;
}

#filter-button::after {
  content: none;
}

/*
.location-button::after { 
  display: flex;
  justify-content: flex-end;
}
*/

#filter-button {
  border-radius: 0px 10px 10px 0px;
  border-left: 0;
  box-shadow: none;
  background-color: white;
  border-color: lightgray;
}

#filter-button:hover {
  background-color: lightgray;
}

.location-button {
  margin: 0;
}

.dropdown-divider {
  margin: 0;
}

#reset-filters-button {
  font-size: 10pt;
}

.page-banner {
  display: flex;
  position: relative;
}

.close-page-banner-button {
  float: right;
  display: flex;
  gap: 0.25em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: center;
}

.close-page-banner-button:hover {
  cursor: pointer;
}

.close-page-banner-button p:hover {
  cursor: pointer;
}

.close-page-banner-button #close-icon:hover {
  cursor: pointer;
}

.page-banner-closed-property {
  display: none;
}


/* SIDE PANEL FOR POSTS IN main.html*/
/* CSS code adapted from: https://codepen.io/dcode-software/pen/OJxEWWz*/

.main-wrapper {
  display: flex;
  height: 100%;
}

.main {
  flex-grow: 1;
}

.side-panel-toggle {
  /* width: 2.5em;
  height: 2.5em; */
  flex-shrink: 0;

  /* Center the news icon and text */
  display: grid;
  grid-template-rows: 2.25em 2.25em;
  place-items: center;

  color: white;
  background: rgb(65, 65, 65);
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  cursor: pointer;
}

.side-panel-toggle:hover {
  background: black;
}


.side-panel {
  /* Default display of the side-panel class element set to none */
  display: none;

  padding-top: 0.5em;
  overflow-y: auto;
  width: 800px;

  color: white;
  background-color: rgb(65, 65, 65);
  /*color: white;
  background-color: rgb(241, 241, 241); */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.side-panel-open-property .side-panel {
  /* When the side-panel-open-property class is added ("activated"),
   Restore display property of the .side-panel class - "opens" the side panel */
  display: initial;
}

.side-panel h4 {
  text-align: center;
}

.main-wrapper {
  background-color: grey;
}

.nav-link {
  transition-duration: 0.1s;
}

.nav-link:hover {
  color: white
}

#close-icon {
  font-size: 30pt;
  /* background-color: #287eb4; */
}

#logout-button {
  margin-left: 10pt;
}

#name-goes-here {
  font-size: 20pt;
}