@font-face {
  font-family: NavFont;
  src: url("../font/static/manrope-bold.ttf");
}

nav {
  font-family: NavFont, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/*
.filter-button {
  position: relative;
  right: 12pt;
  height: 10pt;
}
*/
/*
.filter {
  text-decoration: none;
  color: black;
}
*/

#search-form {
  margin-top: 10pt;
  /* margin: 0; */
  padding: 0;
  width: 350pt;
  height: 30pt;
}

#search-button {
  border-radius: 10px 0px 0px 10px;
  border-color: lightgrey;
  border-right: 0;
  background-color: white;
  box-shadow: none;
}

#search-button:hover {
  background-color: lightgray;
}

#search-text {
  border-radius: 0px 0px 0px 0px;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  background-color: white;
  border-color: lightgray;
  color: black;
}

#search-text::placeholder {
  color: gray;
}

#filter-button::after {
  content: none;
}

/*
.location-button::after { 
  display: flex;
  justify-content: flex-end;
}
*/

#filter-button {
  border-radius: 0px 10px 10px 0px;
  border-left: 0;
  box-shadow: none;
  background-color: white;
  border-color: lightgray;
}

#filter-button:hover {
  background-color: lightgray;
}

.location-button {
  margin: 0;
}

.dropdown-divider {
  margin: 0;
}

#reset-filters-button {
  font-size: 10pt;
}

.close-page-banner-button {
  float: right;
  display: flex;
  width: 6em;
  gap: 0.25em;
  margin: 0;
  padding-top: 0;
  padding-left: 2em;
  padding-bottom: 0;
  padding-right: 2em;
  justify-content: center;
}

.close-page-banner-button p {
  display: inline;
  margin: 0;
  padding: 0;
}

.close-page-banner-button:hover {
  cursor: pointer;
}

.close-page-banner-button p:hover {
  cursor: pointer;
}

.close-page-banner-button #close-icon:hover {
  cursor: pointer;
}

.page-banner-closed-property {
  display: none;
}

.nav-link {
  transition-duration: 0.1s;
}

.nav-link:hover {
  color: white
}

#logo {
  width: 5%;
  margin-right: 5pt;
}
